<div
  id="content"
  class="h-screen flex flex-col items-center justify-between text-white dark:bg-dark-bgc bg-light-bgc"
>
  <div class="flex flex-col items-center">
    <nav class="flex">
      <a i18n routerLink="/ui-kit" class="bg-[red] p-3 m-3">ui-kit</a>
      <a i18n routerLink="/home" class="bg-[red] p-3 m-3">home</a>
      <a i18n routerLink="/test" class="bg-[red] p-3 m-3">test</a>
      <a i18n routerLink="/test-result" class="bg-[red] p-3 m-3">test-result</a>
      <a i18n routerLink="/account" class="bg-[red] p-3 m-3">account</a>
      <a i18n routerLink="/settings" class="bg-[red] p-3 m-3">settings</a>
      <a i18n routerLink="/preperations" class="bg-[red] p-3 m-3">preperations</a>
    </nav>

    <app-header />

    <router-outlet></router-outlet>
  </div>

  <app-footer />
</div>
