<div class="shadow-box w-full bg-white dark:bg-contrast">
  <h2 i18n>
    General settings
  </h2>
</div>

<div class="ui-box items-start">
  <h4 class="text-black dark:text-white mt-5" i18n>Language :</h4>

  <div class="flex">
    <button
      *ngFor="let locale of localesList"
      (click)="setLanguage(locale.code)"
      [disabled]="isTheSameLanguage(locale.code)"
      class="ui-secondary-button bg-white dark:bg-contrast mt-5 mr-7"
    >
      <a href="/{{HOST}}/{{locale.code}}/settings">
        <img src="{{IMG_PATH + locale.img}}" alt="{{locale.img}}" />
        <!-- <span>{{locale.label}}</span> -->
      </a>
    </button>
  </div>

  <h4 class="text-black dark:text-white mt-5" i18n>Theme :</h4>

  <div class="flex">
    <button
      *ngFor="let theme of themes"
      [disabled]="isTheSameTheme(theme.code)"
      (click)="setTheme(theme.code)"
      class="ui-secondary-button bg-white dark:bg-contrast mt-5 mr-7"
    >
      <a>
        <img src="{{IMG_PATH + theme.img}}" alt="{{theme.img}}" />
        <span>{{theme.label}}</span>
      </a>
    </button>
  </div>
</div>
