@import "./variables.scss";

.ui-prmory-button {
  border-radius: 12px;
  background: $color-3;
  width: 50px;
  height: 50px;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  transition: 0.3s;
  cursor: pointer;

  &.big-button {
    width: auto;
    min-width: 300px;
  }

  &.md-button {
    width: auto;
    padding: 5px 15px;
  }

  &.active,
  &:active,
  &:hover {
    background: $color-4;
  }

  &:disabled {
    background: $color-3;
    opacity: 0.4;
  }
}

.ui-secondary-button {
  min-width: 70px;
  min-height: 70px;
  border-radius: 6px;
  border: 1px solid $color-3;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: 0.3s;
  cursor: pointer;

  &:active,
  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    opacity: 0.6;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 60px;
    height: 40px;
    display: inline-block;
  }

  span {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.big-button {
    width: 130px;
    height: 130px;
    padding: 20px;

    img {
      width: 80px;
      height: 80px;
    }
  }
}

.shadow-box {
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.05);
  // display: flex;
  // justify-content: center;
  padding: 20px;

  &.sm-box{
    padding: 8px 0;
  }

  h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

.ui-sircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid $color-4;
  background: $color-3;
  opacity: 0.5;

  &.correct {
    background-color: #0f0;
  }
  &.incorrect {
    background-color: #f00;
  }
  &.active {
    opacity: 1;
  }
}

.nav-button {
  font-size: 14px;
  background: transparent;
  border: none;
  padding: 2px 2px;

  position: relative;
  transition: 0.5s ease;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: 0.3s;
  }

  &:hover::before {
    width: 100%;
  }
}

.ui-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0 10px;
}

.ui-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
